/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .div-delete {
        margin-left: 10%;
    }

    .principal {
        display: flex;
        justify-content: start;
        margin: 20px;
        font-family: 'Architects Daughter', cursive;
        font-size: 400%;
    }

    .inicio {
        background-image: url('../image/pineapple.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 100%;
        min-height: 100%;
        height: 100vh;
        position: fixed;
        background-position: center;
    }

    .login-cad {
        padding: 15px;
        background-color: rgba(204, 174, 169, 0.3);
        width: 200px;
        height: 150px;
        margin: 15px 80px;
        font-family: 'Architects Daughter', cursive;
    }

    .livros {
        font-size: 160%;
        margin-left: 100px;
        width: 350px;
    }

    .div-img, .encontre {
        display: none;
    }
}

@media (max-width: 767px) {
    .livro-delete {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .principal {
        font-family: 'Architects Daughter', cursive;
        text-align: center;
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    hr {
        border: 2px solid black;
        width: 60vh;
        margin-top: -20px;
    }

    .login-cad {
        margin: 0 auto;
        background-color: rgba(204, 174, 169, 0.7);
        width: 100vh;
        height: 120px;
        padding: 20px;
        border-radius: 15px 0;
        text-align: center;
        font-size: 110%;
        bottom: 0;
        position: fixed;
    }

    .livros {
        width: 85vh;
        margin-left: 30px;
        font-size: 130%;
    }

    .div-img {
        display: flex;
        flex-direction: column;
        background-image: url('../image/pineapple.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        min-width: 100%;
        width: 100vh;
        height: 50vh;
        background-position: center;
    }

    .div-img p {
        margin-top: 50px;
        margin-left: 40px;
    }

    .encontre  p {
        margin: 30px;
    }
   
}

.link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.02);
    font-weight: 500;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

ul {
    list-style: none;
}

.livros {
    padding: 10px;
    margin-bottom: 15px;
}

.div-foto {
    min-height: 40vh;
    height: 40vh;
}

.foto {
    display: flex;
    align-content: center;
    max-width: 80%;
    height: 100%;
    min-height: 100%;
    max-height: 150px;
    margin: 0 auto;
}

.selecionar-livro {
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    text-decoration: none;
    color: black;
}

    .selecionar-livro:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.03);
        text-decoration: none;
        color: black;
    }

.foto-delete {
    height: 50vh;
}

