<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca Pessoal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/ico/book.ico" type="image/x-icon" />
</head>
<body>
    @if (User?.Identity.IsAuthenticated == false)
    {
        <div class="inicio">
            <div class="text-inicio d-flex flex-column justify-content-between">
                <div class="d-flex flex-column">
                    <h1>Biblioteca</h1>
                    <h2>Pessoal</h2>
                </div>
                <div>
                    <h6 class="text-center">Agora ficou fácil organizar seus livros!</h6>
                </div>
                <div class="d-flex flex-row login-cadastro">
                    <hr />

                    <a class="nav-link text-dark link" href="../Identity/Account/Login">Login</a>
                    <div class="vertical"></div>
                    <a class="nav-link text-dark link" href="../Identity/Account/Register">Cadastrar</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="inicio">
            <div class="text-inicio d-flex flex-column justify-content-between">
                <div class="d-flex flex-column">
                    <h1>Biblioteca</h1>
                    <h2>Pessoal</h2>
                </div>
                <div>

                </div>
                <div class="d-flex flex-row biblioteca">
                    <a class="nav-link text-dark link link-sem-login" href="livros/index">Ir à minha biblioteca &rarr; </a>
                </div>
            </div>
        </div>
    }
</body>
</html>