@model IEnumerable<Library.Models.Assunto>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Assuntos";
}

<div class="d-flex flex-row justify-content-center">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <a asp-action="Create" class="btn btn-success ml-2">+</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<div class="d-flex justify-content-center mt-3">
    <a asp-controller="Livros" asp-action="Create" class="btn btn-success text-center w-25">Adicionar Livro</a>
</div>
