@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}
<br />
<h1 class="text-danger">@ViewData["Title"]</h1>
<br />
<h2>@Model.Message</h2>
<br />
@if (Model.ShowRequestId)
{
    <p>
        <strong>Requisição:</strong> <code>@Model.RequestId</code>
    </p>
}