@model Library.Models.ViewModels.LivroAutorAssunto

@{
    ViewData["Title"] = "Adicionar";
    var jaExiste = ViewBag.JaExiste;

}

<h1>@ViewData["Title"]</h1>
<h5 class="text-danger">@jaExiste</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Livro.Titulo" class="control-label"></label>
                <input asp-for="Livro.Titulo" class="form-control" />
                <span asp-validation-for="Livro.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Edicao" class="control-label"></label>
                <input asp-for="Livro.Edicao" class="form-control" />
                <span asp-validation-for="Livro.Edicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Ano" class="control-label"></label>
                <input asp-for="Livro.Ano" class="form-control" />
                <span asp-validation-for="Livro.Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Editora.Nome" class="control-label"></label>
                <input asp-for="Livro.Editora.Nome" class="form-control" />
                <span asp-validation-for="Livro.Editora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assunto.Nome" class="control-label"></label>
                <div class="d-flex flex-row">
                    <select asp-for="Assunto.Nome" class="form-control" asp-items="ViewBag.LivroAssunto"></select>
                    <input type="button" onclick="AdicionarAssunto()" id="assunto" value="+" class="btn btn-success" />
                </div>
                <a href="/Assuntos/Create" class="btn btn-primary">Novo Assunto</a>
            </div>
            <div class="form-group">
                <label asp-for="Autor.Nome" class="control-label"></label>
                <div class="d-flex flex-row">
                    <input asp-for="Autor.Nome" class="form-control" id="autorAdicionado" />
                    <input type="button" onclick="adicionarAutor()" value="+" class="btn btn-success" />
                </div>
                <div>
                    <ul id="autorLista">
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" onclick="validandoAutor()"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    var lista = []
    var umAutor = true

    function adicionarAutor() {
        var autorAdicionado = document.getElementById('autorAdicionado').value
        var autorLista = document.getElementById('autorLista')
        var item = document.createElement('li')
        item.textContent = autorAdicionado

        var check = document.createElement('input')
        check.setAttribute('type', "checkbox")
        check.setAttribute('checked', "checked")
        check.setAttribute('name', "listaAutores")
        check.setAttribute('value', autorAdicionado)
        item.appendChild(check)
        autorLista.appendChild(item)

        umAutor = false
    }

    function validandoAutor() {
        if (umAutor) {
            var autorAdicionado = document.getElementById('autorAdicionado').value
            var autorLista = document.getElementById('autorLista')
            var item = document.createElement('li')
            item.textContent = autorAdicionado

            var check = document.createElement('input')
            check.setAttribute('type', "hidden")
            check.setAttribute('checked', "checked")
            check.setAttribute('name', "listaAutores")
            check.setAttribute('value', autorAdicionado)
            //item.appendChild(check)
            autorLista.appendChild(check)

        } 
    }
</script>