@model Library.Models.ViewModels.LivroAutorAssunto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Novo Livro";
    var jaExiste = ViewBag.JaExiste;
}

<h1>@ViewData["Title"]</h1>
<h5 class="text-danger">@jaExiste</h5>
<br>


<form asp-action="Create" asp-controller="livros" enctype="multipart/form-data" method="post">
    <div class="d-flex flex-column div-create justify-content-center">
        <div class="d-flex flex-row justify-content-start">
            <b>Capa</b>
            <input type="file" name="foto" class="input-add" />
        </div>
        <div class="d-flex flex-row justify-content-start">
            <b>   <label asp-for="Livro.Titulo"></label></b>
            <input asp-for="Livro.Titulo" class="input-add" />
            <span asp-validation-for="Livro.Titulo"></span>
        </div>
        <div class="d-flex flex-row justify-content-start">
            <b>  <label asp-for="Livro.Edicao"></label></b>
            <input asp-for="Livro.Edicao" class="input-add" />
            <span asp-validation-for="Livro.Edicao"></span>
        </div>
        <div class="d-flex flex-row justify-content-start">
            <b>  <label asp-for="Livro.Ano"></label></b>
            <input asp-for="Livro.Ano" class="input-add" />
            <span asp-validation-for="Livro.Ano"></span>
        </div>
        <div class="d-flex flex-row justify-content-start">
            <b> <label asp-for="Livro.Editora.Nome"></label></b>
            <input asp-for="Livro.Editora.Nome" class="input-add" />
            <span asp-validation-for="Livro.Editora"></span>
        </div>
        <div class="d-flex flex-row justify-content-start">
            <b><label asp-for="Assunto.Nome"></label></b>
            <select asp-for="Assunto.Nome" class="input-add" asp-items="ViewBag.LivroAssunto" id="assuntoAdicionado"></select>
            <input type="button" onclick="adicionarAssunto()" value="+" class="btn-add" />
            <a href="/Assuntos/Create" class="btn-assuntos">Assuntos &#10141;</a>
        </div>
        <ul id="assuntoLista">
        </ul>
        <div class="d-flex flex-row justify-content-start">
            <b> <label asp-for="Autor.Nome"></label></b>
            <input asp-for="Autor.Nome" class="input-add" id="autorAdicionado" />
            <input type="button" onclick="adicionarAutor()" value="+" class="btn-add" />
        </div>
        <ul id="autorLista">
        </ul>
        <div class="div-novo-livro">
            <input type="submit" value="Adicionar" class="novo-livro add-livro" onclick="validando()" />
        </div>
    </div>
</form>
<div class="voltar">
    <a asp-action="Index"> &larr; Voltar</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    var umAutor = true
    var umAssunto = true

    function adicionarAutor() {
        let autorAdicionado = document.getElementById('autorAdicionado').value
        let autorLista = document.getElementById('autorLista')
        let item = document.createElement('li')
        item.textContent = autorAdicionado

        let check = document.createElement('input')
        check.setAttribute('type', "checkbox")
        check.setAttribute('checked', "checked")
        check.setAttribute('name', "listaAutores")
        check.setAttribute('value', autorAdicionado)
        item.appendChild(check)
        autorLista.appendChild(item)

        umAutor = false
    }

    function validando() {
        if (umAutor) {
            let autorAdicionado = document.getElementById('autorAdicionado').value
            let autorLista = document.getElementById('autorLista')
            let item = document.createElement('li')
            item.textContent = autorAdicionado

            let check = document.createElement('input')
            check.setAttribute('type', "hidden")
            check.setAttribute('checked', "checked")
            check.setAttribute('name', "listaAutores")
            check.setAttribute('value', autorAdicionado)
            autorLista.appendChild(check)
        }

        if (umAssunto) {
            let assunto = document.getElementById('assuntoAdicionado').value
            let assuntoLista = document.getElementById('assuntoLista')
            let item = document.createElement('li')
            item.textContent = assunto

            let check = document.createElement('input')
            check.setAttribute('type', "hidden")
            check.setAttribute('checked', "checked")
            check.setAttribute('name', "listaAssuntos")
            check.setAttribute('value', assunto)
            assuntoLista.appendChild(check)
        }
    }

    function adicionarAssunto() {
        let assuntoAdicionado = document.getElementById('assuntoAdicionado').textContent
        let assuntoNum = document.getElementById('assuntoAdicionado').value

        let assuntoLista = document.getElementById('assuntoLista')
        let item = document.createElement('li')

        var assuntos = assuntoAdicionado.split(" ")

        for (var i = 0; i <= assuntos.length; i++) {
            switch (assuntoNum) {
                case i:
                    item.innerHTML = assuntos[i + 1]
                    break;
            }
        }

        let check = document.createElement('input')
        check.setAttribute('type', "checkbox")
        check.setAttribute('checked', "checked")
        check.setAttribute('name', "listaAssuntos")
        check.setAttribute('value', assuntoNum)
        item.appendChild(check)
        assuntoLista.appendChild(item)

        umAssunto = false
    }
</script>