@model Library.Models.ViewModels.LivroAutorAssunto

@{
    ViewData["Title"] = "Adicionar";
    var jaExiste = ViewBag.JaExiste;

}

<h1>@ViewData["Title"]</h1>
<h5 class="text-danger">@jaExiste</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Livro.Titulo" class="control-label"></label>
                <input asp-for="Livro.Titulo" class="form-control" />
                <span asp-validation-for="Livro.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Edicao" class="control-label"></label>
                <input asp-for="Livro.Edicao" class="form-control" />
                <span asp-validation-for="Livro.Edicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Ano" class="control-label"></label>
                <input asp-for="Livro.Ano" class="form-control" />
                <span asp-validation-for="Livro.Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Livro.Editora.Nome" class="control-label"></label>
                <input asp-for="Livro.Editora.Nome" class="form-control" />
                <span asp-validation-for="Livro.Editora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assunto.Nome" class="control-label"></label>
                <div class="d-flex flex-row">
                    <select asp-for="Assunto.Nome" class="form-control" asp-items="ViewBag.LivroAssunto" id="assuntoAdicionado"></select>
                    <input type="button" onclick="adicionarAssunto()" value="+" class="btn btn-success" />
                </div>
                <a href="/Assuntos/Create" class="btn btn-primary">Novo Assunto</a>
                <div>
                    <ul id="assuntoLista">
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Autor.Nome" class="control-label"></label>
                <div class="d-flex flex-row">
                    <input asp-for="Autor.Nome" class="form-control" id="autorAdicionado" />
                    <input type="button" onclick="adicionarAutor()" value="+" class="btn btn-success" />
                </div>
                <div>
                    <ul id="autorLista">
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" onclick="validando()"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    var umAutor = true
    var umAssunto = true

    function adicionarAutor() {
        let autorAdicionado = document.getElementById('autorAdicionado').value
        let autorLista = document.getElementById('autorLista')
        let item = document.createElement('li')
        item.textContent = autorAdicionado

        let check = document.createElement('input')
        check.setAttribute('type', "checkbox")
        check.setAttribute('checked', "checked")
        check.setAttribute('name', "listaAutores")
        check.setAttribute('value', autorAdicionado)
        item.appendChild(check)
        autorLista.appendChild(item)

        umAutor = false
    }

    function validando() {
        if (umAutor) {
            let autorAdicionado = document.getElementById('autorAdicionado').value
            let autorLista = document.getElementById('autorLista')
            let item = document.createElement('li')
            item.textContent = autorAdicionado

            let check = document.createElement('input')
            check.setAttribute('type', "hidden")
            check.setAttribute('checked', "checked")
            check.setAttribute('name', "listaAutores")
            check.setAttribute('value', autorAdicionado)
            autorLista.appendChild(check)
        } 

        if (umAssunto) {
            let assunto = document.getElementById('assuntoAdicionado').value
            let assuntoLista = document.getElementById('assuntoLista')
            let item = document.createElement('li')
            item.textContent = assunto

            let check = document.createElement('input')
            check.setAttribute('type', "hidden")
            check.setAttribute('checked', "checked")
            check.setAttribute('name', "listaAssuntos")
            check.setAttribute('value', assunto)
            assuntoLista.appendChild(check)
        }
    }

    function adicionarAssunto() {
        let assuntoAdicionado = document.getElementById('assuntoAdicionado').textContent
        let assuntoNum = document.getElementById('assuntoAdicionado').value

        let assuntoLista = document.getElementById('assuntoLista')
        let item = document.createElement('li')

        var assuntos = assuntoAdicionado.split(" ")

        for (var i = 0; i <= assuntos.length; i++) {
            switch (assuntoNum) {
                case i:
                    item.innerHTML = assuntos[i+1]
                    break;
            }
        }

        let check = document.createElement('input')
        check.setAttribute('type', "checkbox")
        check.setAttribute('checked', "checked")
        check.setAttribute('name', "listaAssuntos")
        check.setAttribute('value', assuntoNum)
        item.appendChild(check)
        assuntoLista.appendChild(item)

        umAssunto = false
    }
</script>